* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  >nav{
    display: flex;
    justify-content: space-between;
    margin: 2vh 0;
    padding: 0 5vw;

    >h4{
      color: #01996D;
    }

    >ul{
      list-style: none;
      display: flex;

      >li{
        margin: 0 3vw;

        >a{
          text-decoration: none;
          color: #292929;
        }

        #startTrial{
          color: white;
          padding: 1vh 1vw;
          background: #01996D;
          border-radius: 5px;
        }
      }
    }
  }

  >section{
    padding: 0 5vw;
    background: url('../images/header_bg.png') center/cover no-repeat;

    >div{
      padding-top: 15vh;
      padding-bottom: 3vh;
      >h2{
        color:#01996D;
        font-size: 3rem;
      }
    }

    >a{
      display: inline-block;
      margin: 3vh 0 20vh 0;
      padding: 1.5vh 2vw;
      background-color: #01996D;
      color: white;
      border-radius: 5px;
      text-decoration: none;
    }
  }
}

main{
  padding: 0 5vw;

  .homeSection1{
    display: flex;
    justify-content: space-evenly;
    margin: 5vh 0;


    >article:nth-of-type(1){

      >h2{
        color: #01996D;
        font-size: 2rem;
      }
    }

    >article:nth-of-type(2){
      margin-top: 2vh;
    }
  }

  .homeSection2{
    display: grid;
    grid-template-columns: (repeat(3, 1fr));
    margin-bottom: 30vh;

    >article{
      margin: 5vw;

      >div{
        height: 70px;
        display: flex;
        align-items: flex-end;
        padding-left: 4vw;
      }

      >p{
        margin: 5vh 0;
      }

      >img{
        width: 100%;
        border-radius: 10px;
      }
    }
    #number01{
      background: url("../images/01.png") left/contain no-repeat;
    }
    #number02{
      background: url("../images/02.png") left/contain no-repeat;
      margin-top: 20vh;
    }
    #number03{
      background: url("../images/03.png") left/contain no-repeat;
    }
  }
}

footer{
  padding: 9vh 0;
  display: grid;
  place-items: center;
  background: #245852;

  >ul{
    display: flex;
    list-style: none;
    >li{
      color: white;
      margin: 0 2vw;
      >a{
        color: white;
        text-decoration: none;
      }
    }
  }
}